.projects {
    background: #f8f9fa;
}

.card {
    border: none;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.completed {
    color: #108016;
    font-weight: 700;
}

.about-begin {
    color: #bb6413;
    font-weight: 700;
}
