.custom-card {
    border: none;
    border-radius: 100px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card {
    border: none;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.completed {
    color: #108016;
    font-weight: 700;
}

.about-begin {
    color: #bb6413;
    font-weight: 700;
}
