/* Define the fade-in keyframes */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 2s ease-in;
}  

.home {
    width: 100%;
    height: 100vh;
    background: url(images/profile-background.jpg);
    color: #ffff;
    display: flex;
    align-items: left;
}

.heading {
    margin: auto;
    padding: 1em;
}

.lead {
    margin: auto;
    padding: 1em;
}

.profile-pic {
    max-width: 15rem;
    height: auto;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
