.home {
    height: 100vh;
    background: url(images/profile-background.jpg);
    color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading {
    margin: auto;
    padding: 1em;
}

.lead {
    margin: auto;
    padding: 1em;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 25em;
}
